# Secrets e arquivos locais
local.env
*.env
backend/.env
# OS
.DS_Store
Thumbs.db

# Node/Front (se usar futuramente)
node_modules/
dist/
*.log

# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pdb
.env
.venv
venv/
ENV/

# Django
backend/db.sqlite3
backend/staticfiles/
media/

# VS Code
.vscode/
.history/

# Misc
*.tmp
*.swp
